$colors: (
  neutral: (
    900: #151515,
    800: #1f2026,
    700: #2e384d,
    400: #716f6f,
    300: #716f6f,
    275: #eaeaea,
    250: #f2f2f2,
    200: #dcdcdc,
    150: #f0f0f0,
    100: #ffffff,
  ),
  primary: (
    400: #854dff,
  ),
  red: (
    400: #ff5959,
  ),
  accent: (
    700: #a5954b40,
    500: #a5952f,
    400: #a5954b,
    300: #a69a62,
    200: rgba(#a5954b26, 0.15),
    100: #a5954b26,
  ),
);
