// flex_fullscreen
// need the rest screen item to be flex 1
.fullscreen {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 100%;
  overflow: hidden;
  &__item {
    overflow: auto;
    flex: 1;
  }
}
